.todo-app {
  padding-top: rem(100);
  min-height: 100vh;
  &__title {
    margin-top: 0;
  }
  &__btn {
    padding: rem(9) rem(8);
    background: #D06B54;
    border-radius: rem(6);
    outline: none;
    border: none;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
  }
  &__container {
    padding: 0 rem(45);
  }
  &__wrapper {
    padding: rem(45) 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  &-checkbox {
    &__item {
      display: none;
    }
    &__icon {
      width: 29px;
      height: 29px;
      display: block;
      border: 1px solid rgba(#000000, 0.1);
      border-radius: 100%;
      cursor: pointer;
      position: relative;
      transition: all .2s ease-in-out;
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 14px;
        height: 13px;
        transition: all .2s ease-in-out;
      }
    }
    &__item:checked + &__icon {
      background: #D06B54;
      border-color: transparent;
      &:before {
        background: url('../img/check.svg') center center/cover no-repeat;
      }
    }
    &--circle {
      display: flex;
      align-items: center;
      .todo-app-checkbox__text {
        margin-left: rem(8);
        font-size: rem(15);
        line-height: rem(15);
        letter-spacing: 0.04em;
        color: #4F4F4F;
        cursor: pointer;
        user-select: none;
      }
      .todo-app-checkbox__icon {
        width: rem(24);
        height: rem(24);
        &:before {
          width: rem(10);
          height: rem(10);
          border-radius: 100%;
        }
      }
      .todo-app-checkbox__item:checked + .todo-app-checkbox__icon {
        background: transparent;
        border-color: rgba(#000000, 0.1);
        &:before {
          background: #D06B54;
        }
      }
    }
  }
  &-header {
    &-field {
      position: relative;
      &__item {
        padding-right: rem(25) !important;
        height: rem(30);
        padding: 0;
        font-size: rem(18);
        width: 100%;
        outline: none;
        resize: none;
        border: none;
        border-bottom: 1px solid rgba(#000000, 0.1);
      }
      &__delete {
        display: none;
        position: absolute;
        top: rem(5);
        right: rem(5);
      }
      &__label {
        position: absolute;
        top: 0;
        left: 0;
        font-size: rem(18);
        letter-spacing: 0.04em;
        color: rgba(#000000, 0.1);
        transition: all .3s ease-in-out;
        transform-origin: 0 0;
        cursor: text;
        width: 100%;
        user-select: none;
        &.focus-input {
          transform: translate(0, -16px) scale(0.8);
        }
      }
      &.isValue {
       .todo-app-header-field__delete {
         display: block;
       } 
      }
    }
  }
  &-list {
    margin: rem(45) 0 !important;
    list-style-type: none;
    &__item {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: rem(16);
      &:last-child {
        margin-bottom: 0;
      }
      &.done {
        .todo-app-list__text {
          text-decoration: line-through;
        }
      }
    }
    &__text {
      margin-left: rem(15);
      color: #4F4F4F;
    }
    &__delete {
      top: 5px;
      right: 0;
      position: absolute;
    }
  }
  &-filter {
    padding-top: rem(22);
    border-top: 1px solid rgba(#000000, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-checkboxes {
      display: flex;
      margin-right: 30px;
      align-items: center;
      flex: 1;
      justify-content: space-between;
      &-header {
        display: none;
        margin-bottom: rem(27);
        padding: 0 rem(22) rem(16) rem(37);
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#000000, 0.1);
        &__title {
          font-size: rem(17);
          font-weight: 500;
          line-height: rem(17);
          letter-spacing: 0.04em;
          color: #D06B54;
        }
      }
      &.show {
        display: flex;
      }
    }
    &__item {
      &-icon {
        display: none;
        &.disable {
          opacity: 0.4;
          cursor: default;
        }
      }
    }
  }
  @media screen and (max-width: $laptopWidth) {
    &-filter {
      &-checkboxes {
        display: none;
        width: 257px;
        padding: rem(19) 0 rem(80) 0;
        margin-right: 0;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        bottom: 0;
        left: 0;
        background: white;
        box-shadow: 4px -4px 13px rgba(0, 0, 0, 0.1);
        &-header {
          display: flex;
        }
        .todo-app-filter__item-checkbox {
          padding: 0 rem(22) 0 rem(37);
        }
      }
      &__item {
        &-icon {
          display: block;
        }
        &-checkbox {
          margin-bottom: rem(17);
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
.animate__animated {
  animation-duration: 0.5s;
}