.todo-app-footer.todo-app__container
  .todo-app-filter
    label.todo-app-checkbox.todo-app-checkbox--circle.todo-app-checkbox__all
      input(type="checkbox" checked name="filter").todo-app-checkbox__item
      .todo-app-checkbox__icon
      .todo-app-checkbox__text Показать все
    label.todo-app-checkbox.todo-app-checkbox--circle.todo-app-checkbox__completed
      input(type="checkbox" name="filter").todo-app-checkbox__item
      .todo-app-checkbox__icon
      .todo-app-checkbox__text Выполненные
    label.todo-app-checkbox.todo-app-checkbox--circle.todo-app-checkbox__active
      input(type="checkbox" name="filter").todo-app-checkbox__item
      .todo-app-checkbox__icon
      .todo-app-checkbox__text Активные
    button.todo-app__btn Удалить все