.todo-app-header.todo-app__container
  .todo-app-header-field
    textarea#todo-create.todo-app-header-field__item
    .icon-delete.todo-app-header-field__delete
    label.todo-app-header-field__label(for="todo-create") Что нужно сделать ?