li.collection-header
  .todo-app-create__wrap
    .input-field
      textarea#todo-create.materialize-textarea.todo-app-create__textarea
      label(for="todo-create") Textarea
    i#todo-create-icon.material-icons.todo-app-create__send send