@mixin font-face($name, $file, $weight: 400, $style: normal, $typeExt: 'woff2') {
	@font-face {
		font-family: "#{$name}";
		src: local("#{$file}"),
		url('../fonts/#{$file}.#{$typeExt}') format('#{$typeExt}');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}

@function rem($pixels, $context: $htmlFontSize) {
	$remSize: calc($pixels/$context);
	@return #{$remSize}rem;
}
@function px($number) {
	@return #{$number}px;
}