// Пример подключения
@include font-face("Muller", "MullerThin", 200, "normal", "woff2");
@include font-face("Muller", "MullerLight", 300, "normal", "woff2");
@include font-face("Muller", "MullerRegular", 400, "normal", "woff2");
@include font-face("Muller", "MullerMedium", 500, "normal", "woff2");
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}
